/*
Colors used:
Primary Color (neutral background): #e9e3d2;
Secondary Color (light green): #959d7d;
Support Colors (dark green): #53644b
              (mustard): #e6bc66
*/

header {
  background-color: #959d7d;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 3px solid #53644b;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.7);
  -moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.7);
  box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.7);
  position: fixed;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #e9e3d2;
  font-family: 'Raleway', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #222222;
}

main {
  padding-top: 240px;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.75em;
  font-weight: 700;
  font-style: italic;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  font-weight: 600;
}

h4 {
  font-family: 'Playfair Display', serif;
  font-size: 1.75em;
  font-weight: 300;
}

img {
  width: 100%;
}

/* NAVIGATION LIST */

a {
  color: #53644b;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #e6bc66;
  text-decoration: none; /* Underlining when hovering over a link */
}

a:active {
  color: #000000;
  text-decoration: none; /* Underlining when hovering over a link */
}


/* VIEW PROJECT & RESUME BUTTON*/

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #53644b;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 6px;
  border-bottom: 3px solid #30382E; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  color: #30382E;
  opacity: 0.5; /* Reduces the opacity of the button to 80% */
  border-bottom: 3px solid #30382E;
}

.button:active {
  background-color: #30382E;
  color: #000000;
  border-bottom: 3px solid #C68B1D;
}

/* EMAIL ME BUTTON */

.button.contact {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #e6bc66;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 6px;
  border-bottom: 3px solid #C68B1D; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button.contact:hover {
  background-color: #e6bc66;
  color: #C68B1D;
  border-bottom: 3px solid #C68B1D;
}

.button.contact:active {
  background-color: #C68B1D;
  color: #000000;
  border-bottom: 3px solid #C68B1D;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

/* LAYOUT STYLING */

.container {
  padding: 0 20px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#hero h1 {
  text-align: center; /* Centers text */
}

#hero {
  background-color: #959d7d;
}

#hero {
  background-color: #959d7d;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.logo {
  max-width: 250px;
}

/* NAVIGATION */

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #e9e3d2;
  Width: 100%;
}

.social {
  margin: 50px;
}
.social  a {
  width: 40px;
  display: inline-block;
  padding: 0px;
}

#contact {

}
