/*
Colors used:
Primary Color (neutral background): #e9e3d2;
Secondary Color (light green): #959d7d;
Support Colors (dark green): #53644b
              (mustard): #e6bc66
*/

header {
  background-color: #959d7d;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 3px solid #53644b;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.7);
  -moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.7);
  box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.7);
  position: fixed;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #e9e3d2;
  font-family: 'Raleway', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #222222;
}

main {
  padding-top: 56px;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.75em;
  font-weight: 700;
  font-style: italic;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  font-weight: 600;
}

h4 {
  font-family: 'Playfair Display', serif;
  font-size: 1.75em;
  font-weight: 300;
}

img {
  width: 100%;
  padding: 0;
  margin: 0;
}

  .aboutpic {
    width: 300px;
  }

/*------------------------ NAVIGATION LIST ------------------------*/

a {
  color: #53644b;
  text-decoration: none; /* No underlining */
}

a:hover {
  color: #e6bc66;
  text-decoration: none; /* Underlining when hovering over a link */
}

a:active {
  color: #000000;
  text-decoration: none; /* Underlining when hovering over a link */
}


/*----------------------- VIEW PROJECT & RESUME BUTTON ------------------------*/

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #53644b;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 6px;
  border-bottom: 3px solid #30382E; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  color: #30382E;
  opacity: 0.5; /* Reduces the opacity of the button to 80% */
  border-bottom: 3px solid #30382E;
}

.button:active {
  background-color: #30382E;
  color: #000000;
  border-bottom: 3px solid #C68B1D;
}

/*------------------------ EMAIL ME BUTTON ------------------------*/

.button.contact {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #e6bc66;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 6px;
  border-bottom: 3px solid #C68B1D; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button.contact:hover {
  background-color: #e6bc66;
  color: #C68B1D;
  border-bottom: 3px solid #C68B1D;
}

.button.contact:active {
  background-color: #C68B1D;
  color: #000000;
  border-bottom: 3px solid #C68B1D;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

/*------------------------ LAYOUT STYLING ------------------------*/

.container {
  padding: 0 20px;
}


.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.row::after {
content: "";
clear: both;
display: table;
}

#hero h1 {
  text-align: center; /* Centers text */
}

#hero {
  text-align: center;
  background-color: #959d7d;
}

#hero {
  background-color: #D9D1B9;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero span {
  display: block;
}

.logo {
  max-width: 100px;
  padding: 0;
  margin: 0;
}

/*------------------------ NAVIGATION ------------------------*/

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #e9e3d2;
}

.social {
  margin: 50px;
}
.social  a {
  width: 40px;
  display: inline-block;
  padding: 0px;
}

#contact {
}

 .berlin-illustration {
   width: 100%;
   max-width: 100%;
   height: auto;
 }

 @keyframes color-change {
   from {fill: #edc655;}
   to {fill: #f76414;}
 }

 .sun {
   animation-duration: 4s;
   animation-name: color-change;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   animation-timing-function: linear;
 }

 @keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.navtoggle li:not(:last-child) {
display: none;
}

.navtoggle, .navtoggle.responsive {
position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0px;
  top: 25px;
  font-size: 20px;
  padding-right: 0;
}



/* --------------------------------------- MEDIA QUIERIES ---------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/*------------------------------------------------------------------------------------------------ */

/* ==============================Medium devices (640px and larger)================================= */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
  float: left;
  padding: 10px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
  display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .logo {
    max-width: 200px;
  }

}
/* ============================== Large devices (1024px or larger)================================= */
@media only screen and (min-width: 1024px) {

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
  .col-lg-5 {
    width: 60%;
}

  .col-lg-7 {
    width: 40%;
}


/* ==============================X-large devices (1440px or larger)================================= */
@media only screen and (min-width: 1440px) {
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


/* ==============================Extra-large devices (1920px or larger)================================= */
@media only screen and (min-width: 1920px) {

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
